.form {
  display: flex;
  align-items: center;
}

.form .field {
  flex: 1;
}

.form .button {
  height: 100%;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.loading {
  border: 2px solid #f1f1f1;
  border-top: 2px solid #46403f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loading--small {
  width: 30px;
  height: 30px;
}

.modal-content img {
  margin: 0 auto;
  max-height: 100%;
  display: block;
}

.modal-content p.author {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.9);
  padding: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}